---
layout: default
class: home
---

<div class="section" id="intro">

    <div class="container full-width">

        <div class="six columns normalize">
			<p>I'm Scott, a software developer and researcher currently working at <a href="https://isl.co">ISL</a>, a digital agency in Washington, DC. My work focuses on computer graphics and data visualization in web-based user interfaces. I'm also interested in agent-based simulations and modeling complex social systems.</p>
			<p>Previously, I completed a master's degree in Computational Design at Carnegie Mellon University, where I wrote my thesis, "Generating, Simulating, Interrogating: A Computational Design Thinking Framework." I also (briefly) studied architecture at Columbia University's Graduate School of Architecture, Preservation, and Planning, and have worked as a software developer independently and for various organizations, including AccuWeather and the Democratic National Committee.</p>
            <p>The easiest way to get in touch is by emailing me: <code>scott dot p dot donaldson at gmail</code>.</a></p>
        </div>

    </div>

</div>

<div id="projects" class="section">
    
	<div class="row">
        <div class="container full-width">
			<div class="four columns normalize row">
                <p class="alignright alignleft-s bold caps italic lead">Projects</p>
            </div>
            <div class="four six-s columns normalize">
                <div class="row same-height">
                    <a href="/projects/sketchpad">
                        <img src="/images/projects/sketchpad/preview.jpg">
                        <h3>Sketchpad Reconstruction</h3>
                    </a>
                    <p class="caption">Reconstructing Ivan Sutherland's iconic Sketchpad project, a work that laid the foundations of computer-aided design and human-computer interaction.</p>
                    </p>
                </div>
            </div>
            <div class="four six-s columns normalize">
                <div class="row same-height">
                    <a href="/projects/reimagining-urban-intersections">
                        <img src="/images/projects/intersections/preview.jpg">
                        <h3>Systems Thinking Design Workshop</h3>
                        <p class="caption">Exploring design interventions in intersections by simulating factors influencing pedestrians and traffic in a system.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container full-width">
            <div class="four columns hide-s"><!-- spacer --></div>
            <div class="four six-s columns normalize">
                <div class="row same-height">
                    <a href="/projects/coons-patch">
                        <img src="/images/projects/coonspatch/patch-preview.gif">
                        <h3>Coons Patch Reconstruction</h3>
                    </a>
                    <p class="caption">Interactive gallery installation and web app opening a window into the mathematics behind 3d free-form surfaces.</p>
                    </p>
                </div>
            </div>
            <div class="four six-s columns normalize">
                <div class="row same-height">
                    <a href="/projects/worldmaking">
                        <img src="/images/projects/voxcel.gif">
                        <h3>Worldmaking</h3>
                    </a>
                    <p class="caption">TODO</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container full-width">
            <div class="four columns hide-s"><!-- spacer --></div>
            <div class="four six-s columns normalize">
                <div class="row same-height">
                    <a href="/projects/martin-js">
                        <img src="/images/projects/martinjs.gif">
                        <h3>Martin.js</h3>
                    </a>
                    <p class="caption">HTML5 &lt;canvas&gt; library for in-browser photo editing, drawing, and visualization.</p>
                    </p>
                </div>
            </div>
            <div class="four six-s columns normalize">
                <div class="row same-height">
                    <a href="http://points.scottland.cc/" target="_blank">
                        <img src="/images/projects/pointsinflux.jpg">
                        <h3>Points in Flux</h3>
                    </a>
                    <p class="caption">Web game made using p5.js. Move all the points into the shaded region using your mouse or finger.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="in-progress" class="section bg-tertiary">

    <img id="in-progress-bg" src="/images/23-secondary.png" class="abs anim-fade lazy-load">

    <div class="full-width clearfix">
        <div id="in-progress-images"></div>
    </div>

    <div class="section">
        <div class="container full-width">

            <div class="two columns hide-s"></div>

            <div class="two columns normalize row">
                <p class="alignright alignleft-s bold caps italic lead">Recent Articles</p>
            </div>

            <div class="one column hide-s"></div>

            <div class="seven columns">
                {% for post in site.posts limit:3 %}
                <div class="row">
                    <h3 class="tight">
                        {% if post.layout == "link" %}
                            <a class="no-underline hover-white" href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                        {% else %}
                            <a class="no-underline hover-white " href="{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                    </h3>
                    <small class="italic secondary" data-date="{{ post.date }}"></small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
