---
layout: default
class: home
---

<div class="section" id="intro">

    <div class="container full-width">

        <div class="six columns normalize">
			<p>I'm Scott, a software developer and researcher currently working at <a href="https://isl.co">ISL</a>, a digital agency in Washington, DC. My work focuses on computer graphics and data visualization in web-based user interfaces. I'm also interested in agent-based simulations and modeling complex social systems.</p>
			<p>Previously, I completed a master's degree in Computational Design at Carnegie Mellon University, where I wrote my thesis, "Generating, Simulating, Interrogating: A Computational Design Thinking Framework." I also (briefly) studied architecture at Columbia University's Graduate School of Architecture, Preservation, and Planning, and have worked as a software developer independently and for various organizations, including AccuWeather and the Democratic National Committee.</p>
            <p>The easiest way to get in touch is by emailing me: <code>scott dot p dot donaldson at gmail</code>.</a></p>
        </div>

    </div>

</div>

<div id="projects" class="section">

	<div class="row">
		<div class="container full-width">

			<div class="four columns normalize row">
				<p class="alignright alignleft-s bold caps italic lead">Projects</p>
			</div>

			<div class="four six-s columns normalize">
				<div class="row same-height">
                    <a href="/projects/voxcel">
                        <img src="/images/projects/voxcel.gif">
    					<h3>Voxcel</h3>
                    </a>
					<p class="caption">Real-time, in-browser modeling software. Begin a 3d model, then share the URL publicly to let others watch as you design and offer feedback.</p>
				</div>
			</div>

            <div class="four six-s columns normalize">
    			<div class="row same-height">
                    <a href="/projects/martin-js">
                        <img src="/images/projects/martinjs.gif">
		                <h3>Martin.js</h3>
                    </a>
    				<p class="caption">HTML5 &lt;canvas&gt; library for in-browser photo editing, drawing, and visualization.</p>
    				</p>
    			</div>
    		</div>

		</div>
	</div>

	<div class="container full-width">

		<div class="four columns hide-s"></div>

		<div class="four six-s columns normalize">
			<div class="row same-height">
                <a href="http://wikitracking.scottland.cc">
                    <img src="/images/projects/wikitrack.gif">
    				<h3>WikiTracking</h3>
                </a>
				<p class="caption">Interactive, exploratory data visualization to show Wikipedia edits over&nbsp;time.</p>
			</div>
		</div>

        <div class="four six-s columns normalize">
            <div class="row same-height">
                <a href="http://points.scottland.cc/" target="_blank">
                    <img src="/images/projects/pointsinflux.jpg">
                    <h3>Points in Flux</h3>
                </a>
                <p class="caption">Web game made using p5.js. Move all the points into the shaded region using your mouse or finger.</p>
            </div>
        </div>

	</div>

</div>

<div id="in-progress" class="section bg-tertiary">

    <img id="in-progress-bg" src="/images/23-secondary.png" class="abs anim-fade lazy-load">

    <div class="full-width clearfix">
        <div id="in-progress-images"></div>
    </div>

    <div class="section">
        <div class="container full-width">

            <div class="two columns hide-s"></div>

            <div class="two columns normalize row">
                <p class="alignright alignleft-s bold caps italic lead">Recent Articles</p>
            </div>

            <div class="one column hide-s"></div>

            <div class="seven columns">
                {% for post in site.posts limit:3 %}
                <div class="row">
                    <h3 class="tight">
                        {% if post.layout == "link" %}
                            <a class="no-underline hover-white" href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                        {% else %}
                            <a class="no-underline hover-white " href="{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                    </h3>
                    <small class="italic secondary" data-date="{{ post.date }}"></small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
