</main>

<footer id="footer">

    <div class="section">

        <div class="full-width">
            <script>document.write('<a class="no-underline" href="mailto:' + 'scott.p.don' + '' + 'aldson' + '@gma' + '' + 'il.com' + '"><span>Email</span></a><br>');</script>
            <a class="no-underline" href="https://github.com/scottpdo" target="_blank">GitHub</a><br>
            <a class="no-underline" href="https://twitter.com/scott_pdo" target="_blank">Twitter</a><br>
            <a class="no-underline" href="https://instagram.com/scottpdo" target="_blank">Instagram</a></p>
            <p class="secondary">&copy; {{ site.title }} 2008 to <script>document.write(new Date().getFullYear());</script></p>
        </div>

    </div>

</footer>

<script src="/js/lib/imagesloaded-3.1.8.js"></script>
<script src="/js/script.js"></script>
<script src="/js/conditions.js"></script>
<script src="/js/tumblr.js"></script>

<img src="/images/18.png" class="abs b0 r0 anim-fade lazy-load" id="footer-img">

</body>
</html>
