<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Scott is a Master's student in Computational Design at Carnegie Mellon University. His research focuses on computational methods in architecture and design practice as a way of thinking.">

    <title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.title }}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favi/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favi/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favi/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favi/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favi/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favi/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favi/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favi/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favi/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favi/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favi/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favi/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/lib/modernizr-2.8.3.js"></script>
</head>
