<div class="full-width">

<% var lastYear; var firstPost = true; %>
<% page.posts.each(function(post, i) { %>
    <% var year = post.date.year(); %>
    <% if ( lastYear != year && post.title ) { %>
        <% if ( !firstPost ) { %>
            </div><!-- .eight -->
            </div><!-- .row -->
        <% }
            firstPost = false;
        %>
        <div class="row">
            <div class="four columns">
                <% lastYear = year; %>
                <p class="alignright bold italic"><%= year %></p>
            </div>
            <div class="eight columns no-underline">
    <% } %>
    <a href="<%- '/' + post.path %>"><%- post.title %></a><br>
<% }) %>

</div>
