<div class="container stack full-width">

<% var lastYear; var firstPost = true; %>
<% page.posts.each(function(post, i) { %>
    <% var year = post.date.year(); %>
    <% if ( lastYear != year && post.title ) { %>
        <% if ( !firstPost ) { %>
            </div><!-- .eight -->
            </div><!-- .row -->
        <% }
            firstPost = false;
        %>
        <div class="section container">
            <div class="two two-s columns normalize">
                <% lastYear = year; %>
                <h3 class="secondary"><%= year %></h3>
            </div>
            <div class="ten nine-s columns normalize no-underline">
    <% } %>
    <div class="row">
        <h3 class="tight"><a href="<%- '/' + post.path %>"><%- post.title %></a></h3>
        <span class="caption" data-date="<%- post.date %>"></span>
    </div>

<% }) %>

</div>
