<div class="container stack full-width">

<% var lastYear; var firstPost = true; %>
<% page.posts.each(function(post, i) { %>
    <% var year = post.date.year(); %>
    <% if ( lastYear != year && post.title ) { %>
        <% if ( !firstPost ) { %>
            </div><!-- .eight -->
            </div><!-- .row -->
        <% }
            firstPost = false;
        %>
        <div class="row container">
            <div class="two two-s columns normalize">
                <% lastYear = year; %>
                <p class="bold caption"><%= year %></p>
            </div>
            <div class="ten nine-s columns no-underline normalize">
    <% } %>
    <p>
        <a href="<%- '/' + post.path %>"><%- post.title %></a><br>
        <span class="caption" data-date="<%- post.date %>"></span>
    </p>

<% }) %>

</div>
