<div class="section" id="intro">

    <div class="full-width">

        <div class="six columns">
            <p><span class="noteworthy">Scottland<span class="tooltip"><img src="/images/headshot.jpg"></img></span></span> is an M.Arch candidate and creative technologist at Columbia University Graduate School of Architecture, Preservation and Planning in New York City.</p>
        </div>

    </div>

</div>


<div class="section">

    <div class="full-width">

        <div class="four columns normalize">
            <p class="alignright bold caps italic">Arch Case Studies</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height" data-group="1">
                <p><a href="/arch/manhattanville-pool">Manhattanville Pool &amp; Community Center</a></p>
                <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
            <div class="row same-height" data-group="2">
                <p><a href="/arch/build-bow-wow">Build Your Own House &amp; Atelier Bow-Wow</a></p>
                <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height" data-group="1">
                <p><a href="/arch/toilet-straus-park">Public Restroom in Straus Park</a></p>
                <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
            <div class="row same-height" data-group="2">
                <p><a href="/arch/st-paul-skyways">St. Paul Skyways</a></p>
                <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
        </div>

    </div>

</div>

<div class="section">

    <div class="full-width">

        <div class="four columns normalize">
            <p class="alignright bold caps italic">Dev Projects</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row">
                <p><a href="http://davidlefkowitz.net" class="ext" target="_blank">David Lefkowitz Portfolio</a></p>
                <p class="no-underline">
                    <span class="caption">Related Posts</span><br>
                    <a href="">Example Post</a>
                </p>
            </div>
            <div class="row">
                <p><a href="https://www.iwillvote.com" class="ext" target="_blank">I Will Vote</a></p>
                <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row">
                <p><a href="" class="ext" target="_blank">Books@Work</a></p>
                <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
            <div class="row">
                <p><a href="http://designforequality.org/submit-invisibles/" class="ext" target="_blank">Invisibilities</a></p>
                <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            </div>
        </div>

    </div>

</div>
