<div class="section" id="intro">

    <div class="full-width">

        <div class="six columns">
            <p><span class="noteworthy">Scottland<span class="tooltip"><img src="/images/headshot.jpg"></img></span></span> is an M.Arch candidate and creative technologist at Columbia University Graduate School of Architecture, Preservation and Planning in New York City.</p>
        </div>

    </div>

</div>


<div class="section">

    <div class="full-width">

        <div class="four columns normalize">
            <p class="alignright bold caps italic">Arch Case Studies</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <p><a href="/arch/manhattanville-pool">Manhattanville Pool &amp; Community Center</a></p>
            <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            <p><a href="">Build Your Own House &amp; Atelier Bow-Wow</a></p>
            <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <p><a href="">Public Restroom in Straus Park</a></p>
            <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            <p><a href="">St. Paul Skyways</a></p>
            <p class="caption">Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
        </div>

    </div>

</div>

<div class="section">

    <div class="full-width">

        <div class="four columns normalize">
            <p class="alignright bold caps italic">Dev Projects</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <p><a href="">David Lefkowitz Portfolio</a></p>
            <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            <p><a href="">I Will Vote</a></p>
            <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <p><a href="">Books@Work</a></p>
            <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
            <p><a href="http://designforequality.org/submit-invisibles/">Invisibilities</a></p>
            <p>Lorem ipsum dolor sit amet. Consectitur non dolor sit amet.</p>
        </div>

    </div>

</div>
