<div class="section" id="intro">

    <div class="container full-width">

        <div class="six columns normalize">
            <p><span class="noteworthy" data-show="#headshot">Scottland</span> is a front-end web developer whose clients have included nonprofits, progressive political organizations, and higher education, and an M.Arch candidate at Columbia University Graduate School of Architecture, Preservation and Planning in New York City.</p>
            <p>The easiest way to get in touch is with an <script>document.write('<a href="mailto:' + 'scott.p.' + 'dona' + 'ldson@gmai' + 'l.com' + '">email</a>');</script>.</a></p>
            <img id="headshot" src="/images/headshot-large.jpg" class="abs" style="display: none;"></img>
        </div>

    </div>

</div>

<div class="section primary-underline">

    <div class="container full-width row">

        <div class="two columns hide-s"></div>

        <div class="two columns normalize row">
            <p class="alignright alignleft-s bold caps italic lead">Dev Projects</p>
        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://martinjs.org" class="ext" target="_blank">Martin.js</a></h3>
                <p class="no-underline">
                    <a href="http://martinjs.org" target="_blank">Martin.js Docs</a><br>
                    <a href="https://github.com/scottdonaldson/martinjs" target="_blank">GitHub Repo</a>
                </p>
            </div>
        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://designforequality.org/submit-invisibles/" class="ext" target="_blank">Invisibilities</a></h3>
                <p class="no-underline">

                    <a href="https://github.com/scottdonaldson/dfe" target="_blank">GitHub Repo</a><br>
                    <a href="/data-viz-wikipedia">Post: Data Viz with the Wikipedia API and Snap.svg</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container full-width">

        <div class="five columns hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://www.booksatwork.org/" class="ext" target="_blank">Books@Work</a></h3>
                <p class="no-underline">
                    <a href="https://github.com/scottdonaldson/booksatwork" target="_blank">GitHub Repo</a>
                </p>
            </div>

        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="https://iwillvote.com" class="ext" target="_blank">I Will Vote</a></h3>
            </div>
        </div>

    </div>

</div>

<div class="section primary-underline">

    <div class="container full-width row">

        <div class="two columns hide-s"></div>

        <div class="two columns normalize row">
            <p class="alignright alignleft-s bold caps italic lead">Arch Case Studies</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="/arch/manhattanville-pool">Manhattanville Pool &amp; Community Center</a></h3>
                <p class="caption">An indoor community pool maximizes outdoor, public space, with a unique interior arrangement.</p><p class="caption">GSAPP M.Arch Core I Studio, Fall 2014</p>
            </div>
        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="/arch/toilet-straus-park">Public Toilet in Straus Park</a></h3>
                <p class="caption">A public restroom creates a new space within a secluded, historical park on the Upper West Side.</p><p class="caption">GSAPP M.Arch Core I Studio, Fall 2014</p>
            </div>
        </div>
    </div>

    <div class="container full-width">

        <div class="five columns hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="/arch/build-bow-wow">Build Your Own House &amp; Atelier Bow-Wow</a></h3>
                <p class="caption">An exploratory project to draw and model an existing structure by architects Atelier Bow-Wow.</p><p class="caption">GSAPP Arch. Drawing &amp; Representation, Fall 2014</p>
            </div>
        </div>

        <div class="one column hide-s spacer"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="/arch/st-paul-skyways">St. Paul Skyways</a></h3>
                <p class="caption">A drawing project to document the elevated walkways in St. Paul, Minnesota.</p><p class="caption">Personal Work, 2013</p>
            </div>
        </div>

    </div>

</div>

<div id="in-progress" class="section bg-tertiary">

    <img id="in-progress-bg" src="/images/23-secondary.png" class="abs anim-fade lazy-load">

    <div class="full-width clearfix">
        <div id="in-progress-images"></div>
    </div>

    <div class="section">
        <div class="container full-width">

            <div class="two columns hide-s"></div>

            <div class="two columns normalize row">
                <p class="alignright bold caps italic lead">Recent Writing</p>
            </div>

            <div class="one column hide-s"></div>

            <div class="seven columns alignright-s">
                <%
                var numPosts = 0;
                page.posts.each(function(post){
                    if ( numPosts < 3 ) {
                    %>
                    <div class="row">
                        <a href="<%- post.path %>" class="no-underline hover-white"><%- post.title %></a><br>
                        <small class="bold white" data-date="<%- post.date %>"></small>
                    </div>
                    <%
                    }
                numPosts++;
                }); %>
            </div>
        </div>
    </div>

</div>
