<div class="section" id="intro">

    <div class="container full-width">

        <div class="six columns normalize">
            <p><span class="noteworthy" data-show="#headshot">Scottland</span> is a front-end web developer whose clients have included nonprofits, progressive political organizations, and higher education. His interests are in architecture, design, visualization, and his two rabbits, Humphrey &amp; Martin.</p>
            <p>The easiest way to get in touch is with an <script>document.write('<a href="mailto:' + 'scott.p.' + 'dona' + 'ldson@gmai' + 'l.com' + '">email</a>');</script>.</a></p>
            <img id="headshot" src="/images/headshot-large.jpg" class="abs" style="display: none;"></img>
        </div>

    </div>

</div>

<div class="section primary-underline">

    <div class="container full-width row">

        <div class="two columns hide-s"></div>

        <div class="two columns normalize row">
            <p class="alignright alignleft-s bold caps italic lead">Projects</p>
        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://app.designguggenheimhelsinki.org/" class="ext" target="_blank">Guggenheim Helsinki Now</a></h3>
                <small>Freelance</small>
                <p class="caption">Developed front-end of a Meteor.js app which was projected as a large-scale interactive display.</p>
            </div>
        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://designforequality.org/submit-invisibles/" class="ext" target="_blank">Invisibilities</a></h3>
                <small>Freelance</small>
                <p class="caption">Data visualization using the Wikipedia API and Snap.svg.</p>
                <p class="no-underline">
                    <a href="/data-viz-wikipedia">Post: Data Viz with the Wikipedia API and Snap.svg</a>
                </p>
            </div>
        </div>

    </div>

    <div class="container full-width row">

        <div class="five columns hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="https://iwillvote.com" class="ext" target="_blank">I Will Vote</a></h3>
                <small>Democratic National Committee Engineering</small>
                <p class="caption">Redeveloped the front-end of a Rails voter registration app in order to reduce dependencies on third-party libraries and optimize client-side performance.</p>
            </div>
        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://www.booksatwork.org/" class="ext" target="_blank">Books@Work</a></h3>
                <small>Parsley &amp; Sprouts Web Design&nbsp;+ Development</small>
                <p class="caption">Developed website for a nonprofit with custom in-browser SVG animations and integration with Mozilla Open Badges.</p>
            </div>

        </div>

    </div>

    <div class="container full-width">

        <div class="five columns hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://points.scottland.cc/" class="ext" target="_blank">Points in Flux</a></h3>
                <small>Personal Project</small>
                <p class="caption">Web game made using p5.js. Move all the points into the shaded region using your mouse or finger.</p>
            </div>

        </div>

        <div class="one column hide-s"></div>

        <div class="three six-s columns normalize">
            <div class="row same-height">
                <h3><a href="http://martinjs.org" class="ext" target="_blank">Martin.js</a></h3>
                <small>Personal Project</small>
                <p class="no-underline">
                    <p class="caption">Developing HTML5 &lt;canvas&gt; library for in-browser photo editing, drawing, and visualization.</p>
                </p>
            </div>
        </div>

    </div>

</div>

<div id="in-progress" class="section bg-tertiary">

    <img id="in-progress-bg" src="/images/23-secondary.png" class="abs anim-fade lazy-load">

    <div class="full-width clearfix">
        <div id="in-progress-images"></div>
    </div>

    <div class="section">
        <div class="container full-width">

            <div class="two columns hide-s"></div>

            <div class="two columns normalize row">
                <p class="alignright alignleft-s bold caps italic lead">Recent Writing</p>
            </div>

            <div class="one column hide-s"></div>

            <div class="seven columns">
                <%
                var numPosts = 0;
                page.posts.each(function(post){
                    if ( numPosts < 3 ) {
                    %>
                    <div class="row">
                        <h3 class="tight"><a href="<%- post.path %>" class="no-underline hover-white"><%- post.title %></a></h3>
                        <small class="italic secondary" data-date="<%- post.date %>"></small>
                    </div>
                    <%
                    }
                numPosts++;
                }); %>
            </div>
        </div>
    </div>

</div>
