<div class="section" id="intro">

    <div class="container full-width">

        <div class="six columns normalize">
            <p><span class="noteworthy" data-show="#headshot">Scottland</span> is an M.Arch candidate and creative technologist at Columbia University Graduate School of Architecture, Preservation and Planning in New York City, and a front-end web developer whose clients have included nonprofits, progressive political organizations, and higher education.</p>
            <p>The easiest way to get in touch is with an <script>document.write('<a href="mailto:' + 'scott.p.' + 'dona' + 'ldson@gmai' + 'l.com' + '">email</a>');</script>.</a></p>
            <img id="headshot" src="/images/headshot-large.jpg" class="abs" style="display: none;"></img>
        </div>

    </div>

</div>


<div class="section primary-underline">

    <div class="container full-width row">

        <div class="four columns normalize">
            <p class="alignright bold caps italic">Arch Case Studies</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height">
                <p><a href="/arch/manhattanville-pool">Manhattanville Pool &amp; Community Center</a></p>
                <p class="caption">Maximizing outdoor, public space, with a unique interior arrangement.</p><p class="caption">GSAPP M.Arch Core I Studio, Fall 2014</p>
            </div>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height">
                <p><a href="/arch/toilet-straus-park">Public Toilet in Straus Park</a></p>
                <p class="caption">Creating a new space within a secluded, historical park on the Upper West Side.</p><p class="caption">GSAPP M.Arch Core I Studio, Fall 2014</p>
            </div>
        </div>
    </div>

    <div class="container full-width">

        <div class="five columns spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height">
                <p><a href="/arch/build-bow-wow">Build Your Own House &amp; Atelier Bow-Wow</a></p>
                <p class="caption">Download printing and assembly instructions for a structural scale model.</p><p class="caption">GSAPP Arch. Drawing &amp; Representation, Fall 2014</p>
            </div>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height">
                <p><a href="/arch/st-paul-skyways">St. Paul Skyways</a></p>
                <p class="caption">Documenting the elevated walkways in St. Paul, Minnesota.</p><p class="caption">Personal Work, 2013</p>
            </div>
        </div>

    </div>

</div>

<div class="section primary-underline">

    <div class="container full-width">

        <div class="four columns normalize">
            <p class="alignright bold caps italic">Dev Projects</p>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height">
                <p><a href="http://davidlefkowitz.net" class="ext" target="_blank">David Lefkowitz Portfolio</a></p>
                <p class="no-underline">
                    <span class="caption">See More</span><br><a href="https://github.com/scottdonaldson/lefko" class="ext" target="_blank">GitHub Repo</a><br>
                </p>
            </div>
            <div class="row same-height">
                <p><a href="http://designforequality.org/submit-invisibles/" class="ext" target="_blank">Invisibilities</a></p>
                <p class="no-underline">
                    <span class="caption">See More</span><br>
                    <a href="https://github.com/scottdonaldson/dfe" class="ext" target="_blank">GitHub Repo</a>
                </p>
            </div>
        </div>

        <div class="one column spacer"></div>

        <div class="three columns normalize">
            <div class="row same-height" data-group="3">
                <p><a href="http://www.booksatwork.org/" class="ext" target="_blank">Books@Work</a></p>
                <p class="no-underline">
                    <span class="caption">See More</span><br>
                    <a href="https://github.com/scottdonaldson/booksatwork" class="ext" target="_blank">GitHub Repo</a>
                </p>
            </div>
            <div class="row same-height" data-group="4">
                <p><a href="https://www.iwillvote.com" class="ext" target="_blank">I Will Vote</a></p>
                <p class="caption">Work done with DNC Engineering</p>
            </div>
        </div>

    </div>

</div>

<div id="in-progress" class="section bg-secondary">

    <img id="in-progress-bg" src="/images/23-primary.png" class="abs b0">

    <div class="full-width clearfix">
        <div id="in-progress-images" class="clearfix"></div>
    </div>

    <div class="section">
        <div class="container full-width">
            <div class="four columns normalize">
                <p class="alignright bold caps italic">Recent Writing</p>
            </div>

            <div class="one column spacer"></div>

            <div class="seven columns">
                <%
                var numPosts = 0;
                page.posts.each(function(post){
                    if ( numPosts < 3 ) {
                    %>
                    <div class="row">
                        <a href="<%- post.path %>" class="no-underline hover-white"><%- post.title %></a><br>
                        <small class="bold white" data-date="<%- post.date %>"></small>
                    </div>
                    <%
                    }
                numPosts++;
                }); %>
            </div>
        </div>
    </div>

</div>
