<script>document.body.classList.add('post');</script>
<% if (page.layout === 'no-image') { %>
<script>document.body.classList.add('no-image');</script>
<% } %>
<div class="full-width">
    <%- page.content %>

</div>
