	</main>

	<footer id="footer">

		<div class="section">

			<div class="full-width">
				<p>The best way to get in touch with me is an <script>document.write('<a href="mailto:' + 'scott.p.' + 'dona' + 'ldson@gmai' + 'l.com' + '"><span>email</span></a>');</script>.</p>
				<p><a class="no-underline ext" href="https://github.com/scottdonaldson" target="_blank">GitHub</a><br>
				<a class="no-underline ext" href="https://twitter.com/scottpdonaldson" target="_blank">Twitter</a><br>
				<a class="no-underline ext" href="https://instagram.com/scottpdonaldson" target="_blank">Instagram</a></p>
				<p class="secondary bold">&copy; <%= config.author || config.title %> 2008 to <script>document.write(new Date().getFullYear());</script></p>
			</div>

		</div>

	</footer>

	<%- js('js/lib/jquery-2.1.2.js') %>
	<%- js('js/src/script.js') %>

	<img src="/images/18.png" class="abs b0 r0" id="footer-img">

</body>
</html>
