	</main>

	<footer id="footer">

		<div class="section">

			<div class="full-width">
				&copy; 2008-<script>document.write(new Date().getFullYear());</script> <%= config.author || config.title %>
			</div>

		</div>

	</footer>

	<%- js('js/lib/jquery-2.1.2.js') %>
	<%- js('js/src/script.js') %>

</body>
</html>
