// ----- Buttons

@mixin button {
	background-color: $accent;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
		&:visited { color: #fff; }
	display: inline-block;
	letter-spacing: 0.05em;
	line-height: 1.4;
	margin: 0 0.5em 0.5em 0;
	padding: 0.5em 1.2em;
	text-transform: uppercase;
	transition: 0.15s;
	vertical-align: middle;

	&:active, &:focus, &:hover,
	&:visited:active, &:visited:focus, &:visited:hover {
		background-color: $accent_highlight;
		color: #fff;
	}
}

.button,
a.button,
input[type="button"],
input[type="submit"] {

	@include button;

	&.button-alternative {
		background-color: $secondary;
		color: $neutral_dark;

		&:active, &:hover {
			background-color: $secondary_highlight;
			color: $neutral_dark;
		}
	}

	&.button-subtle {
		background-color: #fff;
		border: 1px solid $neutral_light;
		color: $neutral_lightish;

		&:active, &:hover {
			background-color: $neutral_light;
			color: $neutral_medium;
		}
	}

	&.button-unstyled {
		background: transparent;
		color: $neutral_dark;
		padding-left: 0.25em;
		padding-right: 0.25em;

		&:active, &:hover {
			color: $neutral_mediumdark;
		}
	}

	&[disabled],
	&.button-disabled {
		background: $neutral_light;
		color: $neutral_medium;
		cursor: not-allowed;
	}

	&.button-progress {
		background: $neutral_light;
		color: $neutral_medium;
		padding-right: 3em;
	}
}

.button-large,
.input-small {
	font-size: 1.25em;
}

.button-small,
.input-small {
	font-size: 0.85em;
}

// ----- Inputs, Selects, Textareas

input,
select,
textarea {
	border: 1px solid $neutral_light;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
	line-height: 1.4;
	margin: 0 0.5em 0.5em 0;
	padding: 0.5em;
	transition: border-color 0.15s;
	vertical-align: middle;

	&:active, &:focus {
		border-color: $neutral_medium;
		outline: 0;
	}

	&[disabled] {
		background: $neutral_light;
		border-color: $neutral_medium;
		cursor: not-allowed;
		&[type="submit"], &[type="button"] { border-color: transparent; }
	}
}

select {
	appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	// h/t Foundation (Zurb)
	background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
	background-position: 95% 50%;
	background-position: calc(100% - 0.5em) 50%;
	background-repeat: no-repeat;
	background-size: auto 1em;
	cursor: pointer;
	padding-right: 2em;
}

// ----- Labels

label {
	color: $neutral_mediumdark;
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	margin: 0.25em 0;
	text-transform: uppercase;
}

abbr[title="required"] {
	border: 0;
	color: $secondary;
}