.alignleft {
	display: block;
	float: left !important;
	margin: 0 1em 1em 0;
	margin-left: 0 !important;
	text-align: left;
}

.alignright {
	display: block;
	float: right !important;
	margin: 0 0 1em 1em;
	margin-right: 0 !important;
	text-align: right;
}

.aligncenter {
	display: block;
	float: none !important;
	margin-top: 0; 
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 1em;
	text-align: center;
}

* {
	box-sizing: border-box;
	position: relative;
}

img {
	height: auto;
	max-width: 100%;
}

// ----- Weirdness when admin bar is at small screen size
#wpadminbar {
	position: fixed !important;
}