// Colors

$primary: #A9E7E5;
.primary { color: $primary; }
.bg-primary { background-color: $primary; }

$primary_highlight: lighten($primary, 10%);

$default: #5C5C5C;
$secondary: #D4D4D4;

.white { color: #fff; }
.bg-white { background-color: #fff; }

// Mixins

@mixin tight {
	margin: 0;
	padding: 0;
}
.tight { @include tight; }
